<link rel="stylesheet" href="/css/bootstrap.css">	
<link rel="stylesheet" href="/css/table/output.css">
{{!-- <link rel="stylesheet" type="text/css" media="screen" href="/css/contact.css"> --}}

{{> header }}


<main>
    <div><h1 class='hdg'>Events</h1></div>

    <div class="new">
        <button class="add-trigger" id="Addbtn"><img src="/addons/Add.jpg" alt="Add" width="25" height="25">Add Event</button>
        <div id="Add" class="modal">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="close1">&times;</span>
                    <h4 style="margin-bottom: 1em;">Event Details</h4>
                    <form method="POST" action="/api/event/">
                    <input type="text" name="Name" class="name-input" placeholder="Name"/>
                    <input type="text" name="Date" class="name-input" placeholder="Date"/>
                    <input type="text" name="EID" class="name-input" placeholder="EID"/>
                    <input type="text" name="People" class="name-input" placeholder="People"/>
                    <input type="text" name="Cost" class="name-input" placeholder="Cost(Rupee)"/>
                    <input class="add-btn" type="submit" value="Add Event"/>
                    </form>
                </div>
            </div>  
        </div>
    </div>


    
    <div class='scroll'>
            <table class="content-table" id="displaytable">
                <thead>
                    <tr>
                    <th>S.No.</th>
                    <th name="Name" id="Name">Name</th>
                    <th name="Date" id="Date">Date</th>
                    <th name="EID" id="EID">Event ID</th>
                    <th name="People" id="People">People</th>
                    <th name="Cost" id="Cost">Cost(Rupee)</th>
                    <th name="operation" id="operation"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each events}}
                    <tr>
                        <td></td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Date}}</td>
                        <td>{{this.EID}}</td>
                        <td>{{this.People}}</td>
                        <td>{{this.Cost}}</td>
                        <td>
                            {{!-- <form method="" action="/api/event/{{this.EID}}">
                                <input type="submit" class="form-1" id="edit" value="Edit">
                            </form> --}}
                            <button class="edit-trigger" id="editbtn" onclick="openModalById('modal-{{this.EID}}')">Edit</button>
                            <div id="modal-{{this.EID}}" class="modal2">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <span class="close2" onclick="closeModalById('modal-{{this.EID}}')">&times;</span>
                                        <h4 style="margin-bottom: 1em;">Update Employee Details</h4>
                                        <form method="POST" action="/api/event/{{this.EID}}?_method=PUT">
                                        <input type="text" name="Name" class="name-input" placeholder="Name" value="{{this.Name}}"/>
                                        <input type="text" name="Date" class="name-input" placeholder="Date" value="{{this.Date}}"/>
                                        <input type="text" name="EID" class="name-input" value="{{this.EID}}"/>
                                        <input type="text" name="People" class="name-input" placeholder="People" value="{{this.People}}"/>
                                        <input type="text" name="DateofJoining" class="name-input" placeholder="Date of Joining" value="{{this.DateofJoining}}"/>
                                        <input type="text" name="Cost" class="name-input" placeholder="Cost" value="{{this.Cost}}"/>
                                        <input class="edit-btn" type="submit" value="Update" />
                                        </form>
                                    </div>
                                </div>  
                            </div>
                            
                            <form method="POST" action="/api/event/{{this.EID}}?_method=DELETE">
                                <input type="submit" class="form-2" id="delete" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>

    <div>
        <form action="/events" method="POST">
            <div class="col-md-4">
            <label for="cat" class="form-label"></label>
            <select class="select" name="cat" required>
            <option value="">Search by</option>
            <option>Event ID</option>
            <option>Name</option>
            <option>Cost ></option>
            <option>Cost <</option>
            <option>Cost =</option>
            </select>
            <div class="invalid-feedback">
            Please provide a valid event.
            </div>
        </div>
            <input type="submit" value="Submit" id="catsubmit">
        </form>
        {{#if Name}}
            <form action="/events/Name" method="POST" id="contact_form">
                <div class="name">
                    <input type="text" placeholder="Name" name="name" id="name_input" required>
                </div>
                <div class="submit">
                    <input type="submit" value="SUBMIT" id="form_button">
                </div>
            </form>
            {{#if Natb}}
                <div class='scroll'>
                    <table class="content-table" id="displaytable">
                        <thead>
                            <tr>
                            <th>S.No.</th>
                            <th name="Name" id="Name">Name</th>
                            <th name="Date" id="Date">Date</th>
                            <th name="EID" id="EID">Event ID</th>
                            <th name="People" id="People">People</th>
                            <th name="Cost" id="Cost">Cost(Rupee)</th>
                            <th name="operation" id="operation"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each Names}}
                            <tr>
                                <td></td>
                                <td>{{this.Name}}</td>
                                <td>{{this.Date}}</td>
                                <td>{{this.EID}}</td>
                                <td>{{this.People}}</td>
                                <td>{{this.Cost}}</td>
                                <td>
                                    {{!-- <form method="" action="/api/event/{{this.EID}}">
                                        <input type="submit" class="form-1" id="edit" value="Edit">
                                    </form> --}}
                                    <button class="edit-trigger" id="editbtn" onclick="openModalById('modal-{{this.EID}}')">Edit</button>
                                    <div id="modal-{{this.EID}}" class="modal2">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <span class="close2" onclick="closeModalById('modal-{{this.EID}}')">&times;</span>
                                                <h4 style="margin-bottom: 1em;">Update Employee Details</h4>
                                                <form method="POST" action="/api/event/{{this.EID}}?_method=PUT">
                                                <input type="text" name="Name" class="name-input" placeholder="Name" value="{{this.Name}}"/>
                                                <input type="text" name="Date" class="name-input" placeholder="Date" value="{{this.Date}}"/>
                                                <input type="text" name="EID" class="name-input" value="{{this.EID}}"/>
                                                <input type="text" name="People" class="name-input" placeholder="People" value="{{this.People}}"/>
                                                <input type="text" name="DateofJoining" class="name-input" placeholder="Date of Joining" value="{{this.DateofJoining}}"/>
                                                <input type="text" name="Cost" class="name-input" placeholder="Cost" value="{{this.Cost}}"/>
                                                <input class="edit-btn" type="submit" value="Update" />
                                                </form>
                                            </div>
                                        </div>  
                                    </div>
                                    
                                    <form method="POST" action="/api/event/{{this.EID}}?_method=DELETE">
                                        <input type="submit" class="form-2" id="delete" value="Delete">
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        {{/if}}

        {{#if EventID}}  
            <form action="/events/EID" method="POST" id="contact_form">
                <div class="name">
                    <label for="EID"></label>
                    <input type="text" style="text-transform:uppercase" placeholder="Event ID" name="EID" id="EID_input" required>
                </div>
                <div class="submit">
                    <input type="submit" value="SUBMIT" id="form_button">
                </div>
            </form>
            {{#if IDtb}}
                <div class='scroll'>
                    <table class="content-table" id="displaytable">
                       <thead>
                            <tr>
                            <th>S.No.</th>
                            <th name="Name" id="Name">Name</th>
                            <th name="Date" id="Date">Date</th>
                            <th name="EID" id="EID">Event ID</th>
                            <th name="People" id="People">People</th>
                            <th name="Cost" id="Cost">Cost(Rupee)</th>
                            <th name="operation" id="operation"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ID}}
                                <tr>
                                    <td></td>
                                    <td>{{this.Name}}</td>
                                    <td>{{this.Date}}</td>
                                    <td>{{this.EID}}</td>
                                    <td>{{this.People}}</td>
                                    <td>{{this.Cost}}</td>
                                    <td>
                                        {{!-- <form method="" action="/api/event/{{this.EID}}">
                                            <input type="submit" class="form-1" id="edit" value="Edit">
                                        </form> --}}
                                        <button class="edit-trigger" id="editbtn" onclick="openModalById('modal-{{this.EID}}')">Edit</button>
                                        <div id="modal-{{this.EID}}" class="modal2">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <span class="close2" onclick="closeModalById('modal-{{this.EID}}')">&times;</span>
                                                    <h4 style="margin-bottom: 1em;">Update Employee Details</h4>
                                                    <form method="POST" action="/api/event/{{this.EID}}?_method=PUT">
                                                    <input type="text" name="Name" class="name-input" placeholder="Name" value="{{this.Name}}"/>
                                                    <input type="text" name="Date" class="name-input" placeholder="Date" value="{{this.Date}}"/>
                                                    <input type="text" name="EID" class="name-input" value="{{this.EID}}"/>
                                                    <input type="text" name="People" class="name-input" placeholder="People" value="{{this.People}}"/>
                                                    <input type="text" name="DateofJoining" class="name-input" placeholder="Date of Joining" value="{{this.DateofJoining}}"/>
                                                    <input type="text" name="Cost" class="name-input" placeholder="Cost" value="{{this.Cost}}"/>
                                                    <input class="edit-btn" type="submit" value="Update" />
                                                    </form>
                                                </div>
                                            </div>  
                                        </div>
                                        
                                        <form method="POST" action="/api/event/{{this.EID}}?_method=DELETE">
                                            <input type="submit" class="form-2" id="delete" value="Delete">
                                        </form>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        {{/if}}  

        {{#if Costg}}  
            <form action="/events/Costg" method="POST" id="contact_form">
                <div class="name">
                    <label for="Cost"></label>
                    <input type="text" placeholder="Cost" name="Cost" id="Cost_input" required>
                </div>
                <div class="submit">
                    <input type="submit" value="SUBMIT" id="form_button">
                </div>
            </form>
            {{#if gtb}}
                <div class='scroll'>
                    <table class="content-table" id="displaytable">
                       <thead>
                            <tr>
                            <th>S.No.</th>
                            <th name="Name" id="Name">Name</th>
                            <th name="Date" id="Date">Date</th>
                            <th name="EID" id="EID">Event ID</th>
                            <th name="People" id="People">People</th>
                            <th name="Cost" id="Cost">Cost(Rupee)</th>
                            <th name="operation" id="operation"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each g}}
                                <tr>
                                    <td></td>
                                    <td>{{this.Name}}</td>
                                    <td>{{this.Date}}</td>
                                    <td>{{this.EID}}</td>
                                    <td>{{this.People}}</td>
                                    <td>{{this.Cost}}</td>
                                    <td>
                                        {{!-- <form method="" action="/api/event/{{this.EID}}">
                                            <input type="submit" class="form-1" id="edit" value="Edit">
                                        </form> --}}
                                        <button class="edit-trigger" id="editbtn" onclick="openModalById('modal-{{this.EID}}')">Edit</button>
                                        <div id="modal-{{this.EID}}" class="modal2">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <span class="close2" onclick="closeModalById('modal-{{this.EID}}')">&times;</span>
                                                    <h4 style="margin-bottom: 1em;">Update Employee Details</h4>
                                                    <form method="POST" action="/api/event/{{this.EID}}?_method=PUT">
                                                    <input type="text" name="Name" class="name-input" placeholder="Name" value="{{this.Name}}"/>
                                                    <input type="text" name="Date" class="name-input" placeholder="Date" value="{{this.Date}}"/>
                                                    <input type="text" name="EID" class="name-input" value="{{this.EID}}"/>
                                                    <input type="text" name="People" class="name-input" placeholder="People" value="{{this.People}}"/>
                                                    <input type="text" name="DateofJoining" class="name-input" placeholder="Date of Joining" value="{{this.DateofJoining}}"/>
                                                    <input type="text" name="Cost" class="name-input" placeholder="Cost" value="{{this.Cost}}"/>
                                                    <input class="edit-btn" type="submit" value="Update" />
                                                    </form>
                                                </div>
                                            </div>  
                                        </div>
                                        
                                        <form method="POST" action="/api/event/{{this.EID}}?_method=DELETE">
                                            <input type="submit" class="form-2" id="delete" value="Delete">
                                        </form>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        {{/if}}  

        {{#if Costl}}  
            <form action="/events/Costl" method="POST" id="contact_form">
                <div class="name">
                    <label for="Cost"></label>
                    <input type="text" placeholder="Cost" name="Cost" id="Cost_input" required>
                </div>
                <div class="submit">
                    <input type="submit" value="SUBMIT" id="form_button">
                </div>
            </form>
            {{#if ltb}}
                <div class='scroll'>
                    <table class="content-table" id="displaytable">
                       <thead>
                            <tr>
                            <th>S.No.</th>
                            <th name="Name" id="Name">Name</th>
                            <th name="Date" id="Date">Date</th>
                            <th name="EID" id="EID">Event ID</th>
                            <th name="People" id="People">People</th>
                            <th name="Cost" id="Cost">Cost(Rupee)</th>
                            <th name="operation" id="operation"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each l}}
                                <tr>
                                    <td></td>
                                    <td>{{this.Name}}</td>
                                    <td>{{this.Date}}</td>
                                    <td>{{this.EID}}</td>
                                    <td>{{this.People}}</td>
                                    <td>{{this.Cost}}</td>
                                    <td>
                                        {{!-- <form method="" action="/api/event/{{this.EID}}">
                                            <input type="submit" class="form-1" id="edit" value="Edit">
                                        </form> --}}
                                        <button class="edit-trigger" id="editbtn" onclick="openModalById('modal-{{this.EID}}')">Edit</button>
                                        <div id="modal-{{this.EID}}" class="modal2">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <span class="close2" onclick="closeModalById('modal-{{this.EID}}')">&times;</span>
                                                    <h4 style="margin-bottom: 1em;">Update Employee Details</h4>
                                                    <form method="POST" action="/api/event/{{this.EID}}?_method=PUT">
                                                    <input type="text" name="Name" class="name-input" placeholder="Name" value="{{this.Name}}"/>
                                                    <input type="text" name="Date" class="name-input" placeholder="Date" value="{{this.Date}}"/>
                                                    <input type="text" name="EID" class="name-input" value="{{this.EID}}"/>
                                                    <input type="text" name="People" class="name-input" placeholder="People" value="{{this.People}}"/>
                                                    <input type="text" name="DateofJoining" class="name-input" placeholder="Date of Joining" value="{{this.DateofJoining}}"/>
                                                    <input type="text" name="Cost" class="name-input" placeholder="Cost" value="{{this.Cost}}"/>
                                                    <input class="edit-btn" type="submit" value="Update" />
                                                    </form>
                                                </div>
                                            </div>  
                                        </div>
                                        
                                        <form method="POST" action="/api/event/{{this.EID}}?_method=DELETE">
                                            <input type="submit" class="form-2" id="delete" value="Delete">
                                        </form>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        {{/if}}  

        {{#if Coste}}  
            <form action="/events/Coste" method="POST" id="contact_form">
                <div class="name">
                    <label for="Cost"></label>
                    <input type="text" placeholder="Cost" name="Cost" id="Cost_input" required>
                </div>
                <div class="submit">
                    <input type="submit" value="SUBMIT" id="form_button">
                </div>
            </form>
            {{#if etb}}
                <div class='scroll'>
                    <table class="content-table" id="displaytable">
                       <thead>
                            <tr>
                            <th>S.No.</th>
                            <th name="Name" id="Name">Name</th>
                            <th name="Date" id="Date">Date</th>
                            <th name="EID" id="EID">Event ID</th>
                            <th name="People" id="People">People</th>
                            <th name="Cost" id="Cost">Cost(Rupee)</th>
                            <th name="operation" id="operation"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each e}}
                                <tr>
                                    <td></td>
                                    <td>{{this.Name}}</td>
                                    <td>{{this.Date}}</td>
                                    <td>{{this.EID}}</td>
                                    <td>{{this.People}}</td>
                                    <td>{{this.Cost}}</td>
                                    <td>
                                        {{!-- <form method="" action="/api/event/{{this.EID}}">
                                            <input type="submit" class="form-1" id="edit" value="Edit">
                                        </form> --}}
                                        <button class="edit-trigger" id="editbtn" onclick="openModalById('modal-{{this.EID}}')">Edit</button>
                                        <div id="modal-{{this.EID}}" class="modal2">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <span class="close2" onclick="closeModalById('modal-{{this.EID}}')">&times;</span>
                                                    <h4 style="margin-bottom: 1em;">Update Employee Details</h4>
                                                    <form method="POST" action="/api/event/{{this.EID}}?_method=PUT">
                                                    <input type="text" name="Name" class="name-input" placeholder="Name" value="{{this.Name}}"/>
                                                    <input type="text" name="Date" class="name-input" placeholder="Date" value="{{this.Date}}"/>
                                                    <input type="text" name="EID" class="name-input" value="{{this.EID}}"/>
                                                    <input type="text" name="People" class="name-input" placeholder="People" value="{{this.People}}"/>
                                                    <input type="text" name="DateofJoining" class="name-input" placeholder="Date of Joining" value="{{this.DateofJoining}}"/>
                                                    <input type="text" name="Cost" class="name-input" placeholder="Cost" value="{{this.Cost}}"/>
                                                    <input class="edit-btn" type="submit" value="Update" />
                                                    </form>
                                                </div>
                                            </div>  
                                        </div>
                                        
                                        <form method="POST" action="/api/event/{{this.EID}}?_method=DELETE">
                                            <input type="submit" class="form-2" id="delete" value="Delete">
                                        </form>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        {{/if}}    
    </div>
    <div class="blank"></div>

    <script>
        // Get the modal
        var modal1 = document.getElementById("Add");

        // Get the button that opens the modal1
        var btn1 = document.getElementById("Addbtn");

        // Get the <span1> element that closes the modal1
        var span1 = document.getElementsByClassName("close1")[0];

        // When the user clicks the button, open the modal1 
        btn1.onclick = function() {
        modal1.style.display = "block";
        }

        // When the user clicks on <span1> (x), close the modal1
        span1.onclick = function() {
        modal1.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal1, close it
        window.onclick = function(event) {
        if (event.target == modal1) {
            modal1.style.display = "none";
        }
        }

        function openModalById(modalid){
            document.getElementById(modalid).style.display = "block";
        }

        function closeModalById(modalid){
            document.getElementById(modalid).style.display = "none";
        }
    </script>
</main>

{{> footer }}